.App {
  display: flex;
  background-color: black;
  height: 100%;
  color: white;
  margin-left: 70px;
  margin-top: 50px;
  font-size: 15px;
}
.para{
  margin-top: -10px;
}

.left{
  margin-right: 50px;
}

hr {
  width: 95%;
}

