.main__section{
    display: flex;
}
.main__sectionLeft{
    margin-left: 70px;
    margin-top: 20px;
}

.main__sectionRight{
    color: white;
    margin-top: -69px;
    margin-left: 150px;
    font-size: 50px;
    text-align: center;
    width: 30%;
}

.sub_heading{
    font-size: 20px;
    margin-top: 70px;
}
.sub1_heading{
    font-size: 20px;
    margin-top: 40px;
}

.btn{
    margin-top: 20px;
}

@media only screen and (max-width: 600px){
    .main__section{
        display: flex;
        flex-direction: column;
        margin-top: -180px;
    }
    
    hr{
        width: 70%;
    }
    img{
        width: 350px;
        margin-left: -50px;
        object-fit: contain;
    }
    .main__sectionRight{
        font-size: 20px;
        margin-top: -150px;
    }
}