.main__section2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
}
.main__sectionLeft2{
    margin-right: 60px;
    margin-top: 20px;
}

.main__sectionRight2{
    color: white;
    margin-top: 40px;
    margin-right: 290px;
    font-size: 50px;
    text-align: center;
    width: 30%;
}

.sub_heading2{
    font-size: 20px;
    margin-top: 70px;
}
.sub1_heading2{
    font-size: 20px;
    margin-top: 60px;
}

.btn{
    margin-top: 20px;
}

@media only screen and (max-width: 600px){
    .main__section{
        display: flex;
        flex-direction: column;
        margin-top: -180px;
    }
    
    hr{
        width: 70%;
    }
    img{
        width: 350px;
        margin-left: -50px;
        object-fit: contain;
    }
    .main__sectionRight{
        font-size: 21px;
        margin-top: -150px;
    }
}