.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    transition: transform 450ms;
}

.list{
    display: flex;
}

li{
    padding-left: 29px;
    font-size: 20px;
    padding-right: 29px;
    list-style-type: none;
}
.right1{
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.icon{
    margin-right: 50px;
  
}

li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.5);
    cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
    color: black;
}

@media only screen and (max-width: 600px) {
    .navbar{
        display: none;
    } 
}